<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop "
>


    <context:component-scan base-package="mini.spring.test.entity"/>


    <bean id="tx" class="mini.spring.test.tx.TransactionMgr"/>

    <aop:config>
        <aop:aspect ref="tx">
            <aop:pointcut id="placeOrder" expression="execution(* mini.spring.test.entity.*.placeOrder(..))"/>
            <aop:before pointcut-ref="placeOrder" method="start"/>
            <aop:after-returning pointcut-ref="placeOrder" method="commit"/>
            <aop:after-throwing pointcut-ref="placeOrder" method="rollback"/>
        </aop:aspect>

    </aop:config>

    <!--<bean id="petStore" class="mini.spring.test.entity.PetStore" scope="singleton">-->

    <!--<constructor-arg ref="accountDao"/>-->
    <!--<constructor-arg ref="itemDao"/>-->
    <!--<constructor-arg value="lzm"/>-->
    <!--<constructor-arg value="1"/>-->

    <!--&lt;!&ndash;<property name="accountDao" ref="accountDao"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<property name="itemDao" ref="itemDao"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<property name="owner" value="lzm"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<property name="version" value="1"/>&ndash;&gt;-->
    <!--</bean>-->

    <!--<bean id="accountDao" class="mini.spring.test.entity.AccountDao"/>-->
    <!--<bean id="itemDao" class="mini.spring.test.entity.ItemDao"/>-->
</beans>

